.StudyProgram{
    height: auto;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 0 20%; */
}
.SP-title{
    background-color: #721b00;
    color: #fff;
    font-size: 3.5rem;
    font-weight: 700;
    padding: 2rem;
    text-align: center;
    margin-bottom: 5rem;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    /* padding: 0 20%; */
}
.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Btn-viewMore{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    background-color: #721b00;
    font-size: 14px;
    padding: 15px 20px;
    border-radius: 8px;
}
.Btn-viewMore:hover{
    opacity: 0.7;
}
.SP-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
}
.SP-content .SP-link{
    font-size: 3.5rem;
    text-decoration: none;
    color: #721b00;
    font-weight: 700;
    margin-bottom: 2.5rem;
}
.SP-content p{
    text-align: justify;
    margin-bottom: 2.5rem;
}

@media (max-width:1200px){
    /* .SP-content{
        padding: 0 1rem;
    } */
    .grid-container{
        padding: 0 1rem;
    }
    .SP-title{
        margin-bottom: 2.5rem;
    }
}
@media (max-width:1000px){
    .SP-content .SP-link, .SP-title{
        font-size: 2.8rem;
    }
    .SP-content p{
        font-size: 1.4rem;
    }
}
@media (max-width:840px){
    .grid-container{
        grid-template-columns: 1fr;
        padding: 0 1rem;
    }
    .grid-item{
        margin-bottom: 2.5rem;
    }
    .SP-content{
        margin-top: 2rem;
    }
    .SP-content .SP-link, .SP-content p{
        margin-bottom: 2rem;
    }
}
@media (max-width:615px){
    .SP-content .SP-link, .SP-title{
        font-size: 2rem;
    }
}