.SliderBanner{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.SB-body{
    height: 400px;
    width: 100%;
    
}
.SB-body img{
    height: 400px;
    width: 100%;
}
.SliderBanner ul{
    padding-left: 0;
    display: flex;
    justify-content: center;
    margin: 10px 0 0;
}
.SliderBanner ul li{
    list-style: none;
    height: 10px;
    width: 10px;
    background-color: #878484;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.SliderBanner ul .focus-slide{
    background-color:#ea1b25;
}
.btn_prev{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 60px;
    left: 0;
    top: 200px;
    align-items: center;
    cursor: pointer;
    display: flex;
    margin-left: -30px;
    transition: ease-in-out 0.3s;
}
.btn_next{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 60px;
    right: 0;
    top: 200px;
    align-items: center;
    cursor: pointer;
    display: flex;
    margin-right: -30px;
    transition: ease-in-out 0.3s;
}
.SB-body:hover .btn_prev{
    transform: translate(30px, 0);
}
.SB-body:hover .btn_next{
    transform: translate(-30px, 0);
}

@media (max-width:1280px){
    .SB-body{
        height: 300px;
    }
    .SB-body img{
        height: 300px;
    }
}
@media (max-width:760px){
    .SliderBanner ul li{
        height: 7px;
        width: 7px;
        margin: 3px 4px;
    }
}

@media (max-width:600px){
    .SB-body{
        height: 230px;
    }
    .SB-body img{
        height: 230px;
    }
    .SliderBanner ul li{
        height: 5px;
        width: 5px;
        margin: 0 4px;
    }
    .btn_prev{
        height: 30px;
        top: 115px;
        margin-left: 0;
    }
    .btn_next{
        height: 30px;
        top: 115px;
        margin-right: 0;
    }
    .SB-body:hover .btn_prev{
        transform: none
    }
    .SB-body:hover .btn_next{
        transform: none;
    }
}
@media (max-width:360px){
    .SB-body{
        height: 180px;
    }
    .SB-body img{
        height: 180px;
    }
    .SliderBanner ul li{
        height: 4px;
        width: 4px;
        margin: 0 3px;
    }
    .btn_prev{
        height: 25px;
        top: 90px;
    }
    .btn_next{
        height: 25px;
        top: 90px;
    }
}